@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="display: flex;flex-direction: column;">
        <div class="top-row px-4">
            <a href="https://github.com/mister-giga/HuffmanCoding" target="_blank">About</a>
        </div>

        <article class="content px-4" style="flex-grow: 1;display:flex;flex-direction:column;">
            @Body
        </article>
    </main>
</div>
